.container
{
    /* justify-content: center; */
    background-color: rgb(255, 255, 255);
}

.sketchcontainer
{
    width:960px;
    height:960px;
}

.buttons
{
    align-self: flex-end;
}

.sketchscreen
{
    display:flex;
    flex-wrap: wrap;
    width:960px;
    height:960px;
}   



.row
{
    background-color: rgb(255, 255, 255);
}