.container
{
    display:flex;
    justify-content: center;
    background-color: rgb(250, 10, 10);
}

.sketchcontainer
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:960px;
    height:960px;
}



.sketchscreen
{
    display:flex;
    flex-wrap: wrap;
}



.row
{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height:30px;
    border: 2px solid black;
}